h3 {
  text-align: center;
  margin: 20px 0px;
}

.container {
  height: 73vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myInput {
  display: block;
  width: 50%;
  margin: 10px 0px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 15px;
}

.btn {
  background-color: #6a5e5e;
  margin: 20px;
  padding: 3px 25px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
